.speech{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}

.direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    color: black;
    background-color: #ededed;
    transition: background-color 0.3s, color 0.3s;
}

.direction:hover{
    background-color: #e3c7c7;
    color: white
}

.petra{
    font-size: medium;
    color: #73e864;
}

.Stockmann{
    font-size: medium;
    color: #53b1ec;
}

.Hovstad{
    font-size: medium;
    color: #ce66c6;
}


.table{
    width: 50%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table th,
.table td {
    border: 2px solid #111111;
    padding: 5px;
    text-align: left;
}

.table tbody tr:nth-child(even){
    background-color: #b5d6bf;
}

.petra:hover{
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 5px #bfedb2;
    border: 2px solid  #bfedb2;
    }


.Stockmann:hover{
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 5px #9595f2;
    border: 2px solid #9595f2;
}

.Hovstad:hover{
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 5px #eb9576;
    border: 2px solid #eb9576;
}

.navigation_bar {
    overflow: hidden;
    background-color: #82bee3;
    text-align: left;
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
}



.navigation_bar a {
    display: inline-block;
    padding: 20px 40px;
    text-align: left;
    text-decoration: none;
    color: #fff;
}

.navigation_bar a:hover {
    background-color: #afdb90;
}